body {
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:14px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

#panel{ 
	height:100vh;
}

#ebook-wrapper{
	margin:20px;
}

/********************* HEADER *******************/
/************************************************/
#header-bar{
	height:60px;
	background:#141466; 
	text-align:center;
	color:#fff;
	line-height:60px;
	font-weight:bold;
	font-size:20px;
	text-transform:uppercase;
	width:100%;
}

#main-button{
	position:absolute;
	left:8px;
	top:15px;
}
/********************* LEFT MENU *******************/
/***********************************************************/

.align-left{
	text-align:left;
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  overflow-y: scroll;
  z-index: 0;
  display: none; 
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF; /* A background-color is required */
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.menu {
  background-color: #1D1F20;
  background-image: linear-gradient(145deg, #1D1F20, #404348);
  padding:0 10px;
  text-align:left;
  display:none;
}

.menu a {
  color: #fff;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: none;
}

.menu-header {
  border-bottom: 1px solid #2a2d2f;
  padding: 20px;
  background-size: 32px;
}

.menu-header-title {
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0;
}

.menu-section {
  margin: 25px 0;
}

.menu-section-title {
  text-transform: uppercase;
  color: #fff;
  font-weight: 200;
  font-size: 15px;
  letter-spacing: 1px;
  padding:8px 10px;
  margin:0;
  background:#0a41cd;
  border-radius:5px;
}

.menu-section-list {
  padding:0;
  margin: 10px 0;
  list-style:none;
}

.menu-section-list a {
  display: block;
  line-height:normal;
  padding:5px 10px;
}
/********************* END LEFT MENU ***************/
/******************************************************/